.portfolio-grid{
    width:100%;
    padding:90px 0 120px;
    background:#fff;
}

.portfolio-grid-container{
    width:min(92%,1400px);
    margin:auto;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:45px;
}

@media(max-width:992px){

.portfolio-grid-container{

    grid-template-columns:1fr;

    gap:35px;

}

}

@media(max-width:768px){

.portfolio-grid{

    padding:60px 0 80px;

}

}