/* ==========================================
   RESET
========================================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    font-family:"Inter",sans-serif;
    background:#ffffff;
    color:#111111;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizeLegibility;
}

img{
    display:block;
    max-width:100%;
}

picture{
    display:block;
}

a{
    color:inherit;
    text-decoration:none;
}

button{
    font:inherit;
    background:none;
    border:none;
    cursor:pointer;
}

input,
textarea,
select{
    font:inherit;
}

ul,
ol{
    list-style:none;
}

section{
    position:relative;
}

::selection{
    background:#d6b25e;
    color:#111;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#d6b25e;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#c39b3e;
}